# The contract address of the VITA token on the applicable network
REACT_APP_TOKEN=0x8a09C5e21254C7537000aD3577C2367C0a9502EC

# The address of the Raphael contract on the applicable network
REACT_APP_RAPHAEL_ADDRESS=0x1C27e2955dEAf2fbfe7D54DE741581856D939885

# The address of the staking contract on the applicable network
REACT_APP_STAKING_ADDRESS=0x757B9bC638f078454CD55ee5d9805eA51121e455

# Put in your Infura endpoint - do not share or check in
REACT_APP_INFURA_ENDPOINT=https://rinkeby.infura.io/v3/5833db7a4a6a413d8836470e7e31c557

# Your Infura project ID (not the key)
REACT_APP_INFURA_ID=5833db7a4a6a413d8836470e7e31c557

# The chain ID as found in src\wallets\connectors.ts
REACT_APP_CHAIN_ID=4

# The portis app id on the applicable network
REACT_APP_PORTIS_DAPP_ID=ef93fbd2-f033-4938-855e-52655302c83c

# The time in milliseconds between refreshes of proposal data
REACT_APP_REFRESH_INTERVAL=60000

